<% include ../shared/header %>
<header>
  <h2>Ntalk - Contact information</h2>
</header>

<section>
  <a href='contacts/new'> New contact </a>
</section>

<section>
  <table>

    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% if (contacts != undefined) { %>
        <% contacts.forEach(function(contact, index) { %>
          <tr>
            <td><%- contact.name %></td>
            <td><%- contact.email %></td>
            <td>
              <span data-email="notify_<%- contact.email%>">
                Offline
              </span>
              <a href="/contact/<%- contact.id %>">Details</a>
              <a href="/talk/<%- contact.email %>" id='talk' data-email="<%- contact.email %>">Talk</a>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td> You no have contacts! :( </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</section>

<% include _notify_script %>
<% include ../shared/exit %>
<% include ../shared/footer %>